@import '../../../../../assets/sass/variables';
@import '../../../../../assets/sass/mixins';

:host {
  display: block;
  position: relative;
  overflow: hidden;
  transition: transform 0.2s ease, background 0.3s ease, color 0.3s ease;
  transform: translate3d(0, 0, 0) scale(1);

  &:active {
    transform: translate3d(0, 0, 0) scale(0.98, 0.96);

    &.active {
      transform: translate3d(0, 0, 0) scale(1);
    }
  }

  .controls {
    display: none;
  }

  .loading-state,
  .label-state {
    display: block;
  }

  @keyframes rotate-animation {
    from {
      transform: translate3d(0, -50%, 0) rotate(0);
    }

    to {
      transform: translate3d(0, -50%, 0) rotate(360deg);
    }
  }

  .loading-state {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    transform: translate3d(0, 100%, 0);
    opacity: 0;
    transition: all 0.4s ease;

    .loading-circle {
      display: block;
      position: relative;
      top: 50%;
      transform: translate3d(0, 0, 0);
      margin: 0 auto;
      width: 30px;
      height: 30px;
      border-width: 2px;
      border-style: solid;
      border-color: rgba(0, 0, 0, 0.6) rgba(0, 0, 0, 0.6) rgba(0, 0, 0, 0.3) rgba(0, 0, 0, 0.3);
      border-radius: 20px;
      animation: rotate-animation 1s linear infinite;
    }
  }

  .label-state {
    transform: translate3d(0, 0, 0);
    opacity: 1;
    transition: all 0.4s ease;
  }

  &.active {
    .loading-state {
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }

    .label-state {
      transform: translate3d(0, -100%, 0);
      opacity: 0;
    }
  }

  // Темы оформления
  &.white-loading-bar {
    .loading-state {
      .loading-circle {
        border-color: rgba($white, 0.6) rgba($white, 0.6) rgba($white, 0.3) rgba($white, 0.3);
      }
    }
  }

  &.social-login {
    .loading-state {
      .loading-circle {
        top: 50%;
        transform: translate3d(0, 0, 0);
        margin: 2px auto 0;
        width: 16px;
        height: 16px;
        border-color: rgba(255, 255, 255, 0.8) rgba(255, 255, 255, 0.8) rgba(255, 255, 255, 0.4) rgba(255, 255, 255, 0.4);
        border-radius: 10px;
      }
    }
  }
}
