<footer id="footer">
  <div class="row">
    <div class="logo-box" *appIfLocale="'ru'">
      <a href="#" class="logo">
        <img src="/assets/img/big-logo.png" alt="РусАтомСервис" title="РусАтомСервис">
      </a>
      <span class="text-logo">
        Интегратор сервисного предложения ГК РОСАТОМ на всех этапах жизненного цикла АЭС дизайна ввэр за рубежом.
			</span>
      <a href="#" class="login-link">
        <i class="icon-key">
          <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
									 viewBox="0 0 616.8 281.9" style="enable-background:new 0 0 616.8 281.9;" xml:space="preserve">
										<path class="st0" d="M616.8,140.9c0-37.6-14.7-73-41.3-99.7C548.9,14.7,513.5,0,475.8,0c-37.6,0-73,14.7-99.7,41.3
											c-20.9,20.9-34.4,47.2-39.2,75.7l-158.3,0c-0.1,0-0.1,0-0.2,0c-0.1,0-0.1,0-0.2,0l-95.4,0c-0.1,0-0.2,0-0.3,0c-0.1,0-0.2,0-0.3,0
											L24,117c-13.2,0-24,10.7-24,24c0,6.6,2.7,12.6,7,17s10.3,7,17,7l34.5,0l0,73.5c0,6.6,2.7,12.6,7,17c4.3,4.3,10.3,7,17,7
											c13.2,0,24-10.7,24-24v-73.5l48,0l0,34.5c0,6.6,2.7,12.6,7,17c4.3,4.3,10.3,7,17,7c13.2,0,24-10.7,24-24l0-34.5l134.6,0
											c4.9,28.5,18.3,54.8,39.2,75.7c26.6,26.6,62,41.3,99.7,41.3c37.6,0,73-14.7,99.7-41.3C602.1,214,616.8,178.6,616.8,140.9z
											 M475.8,233.9c-24.8,0-48.2-9.7-65.7-27.2c-17.6-17.6-27.2-40.9-27.2-65.7c0-24.8,9.7-48.2,27.2-65.7C427.6,57.6,451,48,475.8,48
											c24.8,0,48.2,9.7,65.7,27.2c17.6,17.6,27.2,40.9,27.2,65.7c0,24.8-9.7,48.2-27.2,65.7C524,224.2,500.7,233.9,475.8,233.9z"></path>
								</svg>
        </i>
        Личный кабинет</a>
    </div>
    <div class="logo-box" *appIfLocale="'en'">
      <a href="#" class="logo">
        <img src="/assets/img/big-logo-en.png" alt="RUSATOM SERVICE" title="RUSATOM SERVICE">
      </a>
      <span class="text-logo">
        INTEGRATOR OF ROSATOM STATE CORPORATION SERVICE OFFERINGS FOR FOREIGN VVER NPP AT THE OPERATION PERIOD
			</span>
      <a href="#" class="login-link">
        <i class="icon-key">
          <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
									 viewBox="0 0 616.8 281.9" style="enable-background:new 0 0 616.8 281.9;" xml:space="preserve">
										<path class="st0" d="M616.8,140.9c0-37.6-14.7-73-41.3-99.7C548.9,14.7,513.5,0,475.8,0c-37.6,0-73,14.7-99.7,41.3
											c-20.9,20.9-34.4,47.2-39.2,75.7l-158.3,0c-0.1,0-0.1,0-0.2,0c-0.1,0-0.1,0-0.2,0l-95.4,0c-0.1,0-0.2,0-0.3,0c-0.1,0-0.2,0-0.3,0
											L24,117c-13.2,0-24,10.7-24,24c0,6.6,2.7,12.6,7,17s10.3,7,17,7l34.5,0l0,73.5c0,6.6,2.7,12.6,7,17c4.3,4.3,10.3,7,17,7
											c13.2,0,24-10.7,24-24v-73.5l48,0l0,34.5c0,6.6,2.7,12.6,7,17c4.3,4.3,10.3,7,17,7c13.2,0,24-10.7,24-24l0-34.5l134.6,0
											c4.9,28.5,18.3,54.8,39.2,75.7c26.6,26.6,62,41.3,99.7,41.3c37.6,0,73-14.7,99.7-41.3C602.1,214,616.8,178.6,616.8,140.9z
											 M475.8,233.9c-24.8,0-48.2-9.7-65.7-27.2c-17.6-17.6-27.2-40.9-27.2-65.7c0-24.8,9.7-48.2,27.2-65.7C427.6,57.6,451,48,475.8,48
											c24.8,0,48.2,9.7,65.7,27.2c17.6,17.6,27.2,40.9,27.2,65.7c0,24.8-9.7,48.2-27.2,65.7C524,224.2,500.7,233.9,475.8,233.9z"></path>
								</svg>
        </i>
        Personal account</a>
    </div>
    <nav class="nav-footer">
      <div class="item">
        <div class="box">
          <a class="h3" href="#">{{ 'PUBLIC.MENU.ACTIVITIES' | translate }}</a>
          <ul>
            <li *ngFor="let workdirection of workdirections$ | async">
              <a routerLink="{{ 'URIPREFIX' | translate }}/activities/{{workdirection.id}}">{{ workdirection.name }}</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="item">
        <div class="box">
          <a class="h3" routerLink="{{ 'URIPREFIX' | translate }}/about/rusatom-service">{{ 'PUBLIC.MENU.ABOUT.ABOUT' | translate }}</a>
          <ul>
            <li routerLinkActive="active"><a routerLink="{{ 'URIPREFIX' | translate }}/about/rusatom-service">{{ 'PUBLIC.MENU.ABOUT.ABOUT' | translate }}</a>
            <li routerLinkActive="active"><a routerLink="{{ 'URIPREFIX' | translate }}/about/advantages">{{ 'PUBLIC.MENU.ABOUT.ADVANTAGES' | translate }}</a></li>
            <li routerLinkActive="active"><a routerLink="{{ 'URIPREFIX' | translate }}/about/partners">{{ 'PUBLIC.MENU.ABOUT.PARTNERS' | translate }}</a></li>
            <li routerLinkActive="active"><a routerLink="{{ 'URIPREFIX' | translate }}/about/certificates">{{ 'PUBLIC.MENU.ABOUT.CERTIFICATES' | translate }}</a></li>
            <li routerLinkActive="active"><a routerLink="{{ 'URIPREFIX' | translate }}/about/reviews">{{ 'PUBLIC.MENU.ABOUT.REVIEWS' | translate }}</a></li>
            <li routerLinkActive="active"><a routerLink="{{ 'URIPREFIX' | translate }}/about/suppliers">{{ 'PUBLIC.MENU.ABOUT.SUPPLIERS' | translate }}</a></li>
            <li routerLinkActive="active"><a routerLink="{{ 'URIPREFIX' | translate }}/about/anti-corruption">{{ 'PUBLIC.MENU.ABOUT.ANTICORRUPTION' | translate }}</a></li>
            <li routerLinkActive="active" *appIfLocale="'ru'">
              <a routerLink="{{ 'URIPREFIX' | translate }}/about/vacancies">{{ 'PUBLIC.MENU.ABOUT.VACANCIES' | translate }}</a>
              <ul>
                <li routerLinkActive="active"><a routerLink="{{ 'URIPREFIX' | translate }}/about/vacancies/all">{{ 'PUBLIC.MENU.ABOUT.VACANCIESALL' | translate }}</a></li>
                <li routerLinkActive="active"><a routerLink="{{ 'URIPREFIX' | translate }}/about/vacancies/candidates-pool">{{ 'PUBLIC.MENU.ABOUT.CANDIDATES' | translate }}</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
      <div class="item">
        <div class="box">
          <a class="h3" routerLink="{{ 'URIPREFIX' | translate }}/about/atomtehexport">{{ 'PUBLIC.MENU.ABOUT.ATOMTEHEXPORT' | translate }}</a>
        </div>
        <div class="box">
          <a class="h3" routerLink="{{ 'URIPREFIX' | translate }}/projects">{{ 'PUBLIC.MENU.PROJECTS' | translate }}</a>
        </div>
        <div class="box">
          <a class="h3" routerLink="{{ 'URIPREFIX' | translate }}/press-center">{{ 'PUBLIC.MENU.PRESSCENTER.PRESSCENTER' | translate }}</a>
          <ul>
            <li><a routerLink="{{ 'URIPREFIX' | translate }}/press-center/news">{{ 'PUBLIC.MENU.PRESSCENTER.PRESSCENTER' | translate }}</a></li>
            <li *appIfLocale="'ru'"><a routerLink="{{ 'URIPREFIX' | translate }}/press-center/smi">{{ 'PUBLIC.MENU.PRESSCENTER.SMI' | translate }}</a>
            <li><a routerLink="{{ 'URIPREFIX' | translate }}/press-center/gallery">{{ 'PUBLIC.MENU.PRESSCENTER.GALLERY' | translate }}</a></li>
            <li><a routerLink="{{ 'URIPREFIX' | translate }}/press-center/style-guide">{{ 'PUBLIC.MENU.PRESSCENTER.IDENTITY' | translate }}</a></li>
          </ul>
        </div>
        <div class="box">
          <a class="h3" routerLink="{{ 'URIPREFIX' | translate }}/contacts">{{ 'PUBLIC.MENU.CONTACTS' | translate }}</a>
        </div>
      </div>
    </nav>
  </div>
</footer>