<div class="title-banner" style="background-image: url(/assets/img/header/fir_stil.jpg);">
  <h1 class="h1">{{ 'PUBLIC.CORPORATE_IDENTITY.TITLE' | translate }}</h1>
</div>
<div class="global-page_content container" *appIfLocale="'ru'">
  <h2 class="h2">Руководство по использованию фирменного стиля АО «Русатом Сервис»</h2>
  <ul class="files-download row">
    <li class="col-6 col-md-3">
      <a href="{{ backendHost }}/upload/firmeniy-stil/RUSATOMSERVICE Brand Book.pdf">
        <img src="/assets/img/icons/pdf.svg" alt="pdf">
        <span class="name-file">РУСАТОМСЕРВИС Бренд Бук</span>
      </a>
    </li>
  </ul>
  <h2 class="h2">Логотип</h2>
  <ul class="files-download row">
    <li class="col-6 col-md-3">
      <a href="{{ backendHost }}/upload/firmeniy-stil/Logo_rusatom-rus.pdf">
        <img src="/assets/img/icons/pdf.svg" alt="pdf">
        <span class="name-file"> русскоязычный вариант</span>
        <span class="size-file">96 Кб</span>
      </a>
    </li>
    <li class="col-6 col-md-3">
      <a href="{{ backendHost }}/upload/firmeniy-stil/Logo_rusatom-rus.zip">
        <img src="/assets/img/icons/zip.svg" alt="zip">
        <span class="name-file">векторный русскоязычный вариант</span>
        <span class="size-file">915 Кб</span>
      </a>
    </li>
    <li class="col-6 col-md-3">
      <a href="{{ backendHost }}/upload/firmeniy-stil/RusAtom-S_logo-EN (pantone).pdf">
        <img src="/assets/img/icons/pdf.svg" alt="pdf">
        <span class="name-file">англоязычный вариант</span>
        <span class="size-file">328 Кб</span>
      </a>
    </li>
    <li class="col-6 col-md-3">
      <a href="{{ backendHost }}/upload/firmeniy-stil/RusAtom-S_logo-EN.zip">
        <img src="/assets/img/icons/zip.svg" alt="zip">
        <span class="name-file">векторный англоязычный вариант</span>
        <span class="size-file">404 Кб</span>
      </a>
    </li>
  </ul>
</div>
<div class="global-page_content container" *appIfLocale="'en'">
  <h2 class="h2">Corporate identity of Rusatom Service</h2>
  <ul class="files-download row">
    <li class="col-6 col-md-3">
      <a href="{{ backendHost }}/upload/firmeniy-stil/RUSATOMSERVICE Brand Book.pdf">
        <img src="/assets/img/icons/pdf.svg" alt="pdf">
        <span class="name-file">Brandbook</span>
      </a>
    </li>
  </ul>
  <h2 class="h2">Logo</h2>
  <ul class="files-download row">
    <li class="col-6 col-md-3">
      <a href="{{ backendHost }}/upload/firmeniy-stil/Logo_rusatom-rus.pdf">
        <img src="/assets/img/icons/pdf.svg" alt="pdf">
        <span class="name-file">russian logo</span>
        <span class="size-file">96 Кб</span>
      </a>
    </li>
    <li class="col-6 col-md-3">
      <a href="{{ backendHost }}/upload/firmeniy-stil/Logo_rusatom-rus.zip">
        <img src="/assets/img/icons/zip.svg" alt="zip">
        <span class="name-file">vector russian logo</span>
        <span class="size-file">915 Кб</span>
      </a>
    </li>
    <li class="col-6 col-md-3">
      <a href="{{ backendHost }}/upload/firmeniy-stil/RusAtom-S_logo-EN (pantone).pdf">
        <img src="/assets/img/icons/pdf.svg" alt="pdf">
        <span class="name-file">english logo</span>
        <span class="size-file">328 Кб</span>
      </a>
    </li>
    <li class="col-6 col-md-3">
      <a href="{{ backendHost }}/upload/firmeniy-stil/RusAtom-S_logo-EN.zip">
        <img src="/assets/img/icons/zip.svg" alt="zip">
        <span class="name-file">vector english logo</span>
        <span class="size-file">404 Кб</span>
      </a>
    </li>
  </ul>
</div>
