<div class="title-banner" style="background-image: url(/assets/img/header/rusatom_servis.jpg);">
  <h1 class="h1">{{ 'PUBLIC.ABOUT.RUSATOMSERVICE.TITLE' | translate }}</h1>
  <div class="text" *appIfLocale="'ru'">
    <p>АО «Русатом Сервис» - Интегратор сервисного предложения ГК «Росатом» для АЭС за рубежом.</p>
  </div>
  <div class="text" *appIfLocale="'en'">
    <p>The Rusatom Service Joint Stock Company plays a role of service offer integrator of the Rosatom State Corporation for nuclear power plants abroad.</p>
  </div>
</div>
<div class="global-page_content container" *appIfLocale="'ru'">
  <div class="text-wrap row">
    <div class="col-12 col-md-8">
      <h2 class="h2">ГК «Росатом» является глобальной компанией, которая оперирует на международном рынке, и развитие
        сервисного бизнеса за рубежом приобретает все большую важность.</h2>
      <p class="m-b-lg">Cозданная 6 лет назад специализированная компания – АО «Русатом Сервис», входящая в «Электроэнергетический»
        дивизион, предоставляет зарубежным АЭС с ВВЭР полный спектр услуг и поставок, необходимых для обеспечения
        эксплуатации и ремонта. Уже сейчас компания присутствует на рынке в 15 странах мира и обслуживает 25 из 37
        действующих энергоблоков АЭС с ВВЭР за пределами России.</p>

      <p>На рынках Китая, Ирана, Болгарии и Армении АО «Русатом Сервис» занимает лидирующие позиции, являясь
        генподрядчиком работ по продлению сроков эксплуатации, выполнению планово-предупредительных ремонтов
        и модернизации оборудования АЭС ВВЭР. На зарубежных рынках АО «Русатом Сервис» сформировало портфель
        заказов на сумму, превышающую 1 млрд. долларов США.</p>
    </div>
  </div>

  <section class="trigger-trust">
    <div class="row">
      <ul class="trigger-trust_list">
        <li>
          <img src="/assets/img/figure/fig3.png" alt="figure">
          <strong class="h3">Цель компании</strong>
          <div class="text">
            <p>Становление АО «Русатом Сервис» как универсальной компании предоставляющей сервисные услуги на всех стадиях жизненного цикла АЭС.</p>
          </div>
        </li>
        <li>
          <img src="/assets/img/figure/fig4.png" alt="figure">
          <strong class="h3">Миссия компании</strong>
          <div class="text">
            <p>Надежное, качественное и эффективное предоставление сервисного предложения в атомной отрасли.</p>
          </div>
        </li>
      </ul>
    </div>
  </section>

  <div class="text-wrap row">
    <div class="col-12 col-md-8">
      <h2 class="h2">Роль в ГК Росатом</h2>
      <p class="m-b-lg">АО «Русатом Сервис» является стопроцентной дочерней структурой ГК «Росатом» и входит в Электроэнергетический дивизион. Ключевыми акционерами АО«Русатом Сервис» являются:</p>
      <ol>
        <li><strong>Концерн «Росэнергоатом» - эксплуатирующая организация всех АЭС в РФ. В общей сложности на 10-ти атомных станциях России в промышленной эксплуатации находятся 34 энергоблока, суммарной установленной мощностью 26,24 ГВт</strong></li>
        <li><strong>АО ОКБ «ГИДРОПРЕСС» – Главный конструктор ВВЭР</strong></li>
        <li><strong>«Атомэнергомаш» - Машиностроительный дивизион Госкорпорации «Росатом»</strong></li>
      </ol>
      <p>Компания выступает отраслевым интегратором сервисного предложения на этапе эксплуатации АЭС, занимается
        техническим обслуживанием, ремонтом и модернизацией АЭС российского дизайна за рубежом.</p>
    </div>
  </div>

  <div class="company-history" style="background-image:url(/assets/img/header/rusatom_servis1.jpg);">
    <div class="text-wrap">
      <h2 class="h2">История создания АО Русатом сервис</h2>
      <div class="text">
        <p>В соответствии с решением правления Госкорпорации «Росатом» для централизации оказания сервисных услуг для зарубежных АЭС предприятиями российской атомной отрасли и для координации усилий привлекаемых российских подрядчиков в рамках реализации долгосрочной стратегии развития международной деятельности Госкорпорации «Росатом» в 2011 году создана компания АО «Русатом Сервис». Она определена в качестве «единого окна» - интегратора общего сервисного предложения всех предприятий, входящих в периметр Госкорпорации «Росатом».</p>
      </div>
    </div>
  </div>

  <section class="trigger-trust">
    <div class="row">
      <ul class="trigger-trust_list">
        <li>
          <img src="/assets/img/figure/fig5.png" alt="figure">
          <strong class="h3">Общий портфель заказов</strong>
          <div class="text">
            <p>1 млрд. долларов</p>
          </div>
        </li>
        <li>
          <img src="/assets/img/figure/fig6.png" alt="figure">
          <strong class="h3">Обслуживает</strong>
          <div class="text">
            <p>23 из 39 действующих энергоблоков с ВВЭР за пределами РФ.</p>
          </div>
        </li>
        <li>
          <img src="/assets/img/figure/fig7.png" alt="figure">
          <strong class="h3">Ведущий поставщик</strong>
          <div class="text">
            <p>Сервисных услуг и Иране, Болгарии, Армении и Китае</p>
          </div>
        </li>
        <li>
          <img src="/assets/img/figure/fig8.png" alt="figure">
          <strong class="h3">Рамочные контракты</strong>
          <div class="text">
            <p>В Венгрии, Финляндии и Китае</p>
          </div>
        </li>
      </ul>
    </div>
  </section>
  <div class="text-wrap row">
    <div class="col-12 col-md-8">
      <p>АО «Русатом Сервис» способно предложить уникальное комплексное решение по модернизации и продлению сроков эксплуатации зарубежных атомных электростанций с ВВЭР, адаптированное в соответствии с потребностями клиента и спецификой конкретного блока. Возможна также организация комплексных поставок импортного оборудования и запасных частей с функцией гарантийного и постгарантийного сервисного обслуживания с участием крупнейших мировых производителей. Особый вид деятельности АО «Русатом Сервис» - это представление полного комплекса услуг по специальному обучению, повышению квалификации и стажировке персонала зарубежных компаний на предприятиях Госкорпорации «Росатом».</p>
    </div>
  </div>
  <div class="key-list">
    <h2 class="h2">Ключевые функции компании</h2>
    <ul>
      <li>
        <img src="/assets/img/figure/fig9.png" alt="fig">
        Построение системы комплексного взаимодействия с заказчиком
      </li>
      <li>
        <img src="/assets/img/figure/fig10.png" alt="fig">
        Формирование условий для продажи продуктов и услуг АО Русатом сервис зарубежному заказчику
      </li>
      <li>
        <img src="/assets/img/figure/fig11.png" alt="fig">
        Предоставление комплекса услуг по сопровождению контрактации на международном рынке
        <ul>
          <li>Использование успешного опыта участия в международных тендерных процедурах</li>
          <li>Юридическое оформление международных сделок</li>
          <li>Логистические услуги</li>
          <li>Поддержка в подготовке к сертификации</li>
        </ul>
      </li>
      <li>
        <img src="/assets/img/figure/fig12.png" alt="fig">
        Управление проектом (организация работ подрядчиков)
      </li>
      <li>
        <img src="/assets/img/figure/fig13.png" alt="fig">
        Обратная связь от заказчика
      </li>
      <li>
        <img src="/assets/img/figure/fig14.png" alt="fig">
        Конкурентный анализ и определение параметров продукта на основе требовањњий рынка для продажи инозаказчику
      </li>
    </ul>
  </div>
</div>

<div class="global-page_content container" *appIfLocale="'en'">
  <div class="text-wrap row">
    <div class="col-12 col-md-8">
      <h2 class="h2">The Rusatom Service Joint Stock Company plays a role of service offer integrator
        of the Rosatom State Corporation for nuclear power plants abroad.</h2>
      <p class="m-b-lg">The Rosatom State Corporation is a global company that operates on the international
        market, where development of the service business abroad has become increasingly important.
        The specialised JSC «Rusatom Service» was founded in 2011 and became a member of the "Electric Power"
        division. The company provides full range of services and supplies required for maintenance and repair
        for the foreign nuclear power plants that operate VVER-type reactors. Now, the company has been present
        on the markets of 7 countries and services 23 out of 39 existing NPP VVER power units outside Russia.
        Additionally, Rusatom Service has signed contracts for servicing 8 planned NPPs and for evaluation and
        development of nuclear infrastructur in 2 countries.</p>

      <p>The Rusatom Service holds leading positions in the markets of China, Iran, Bulgaria and Armenia and acts as
        a general contractor of works for lifetime extension, implementation of scheduled preventive maintenance and
        upgrading the equipment at VVER nuclear power plants. The Rusatom Service has business portfolio in foreign
        markets, which amounts to $1 billion

      </p>
    </div>
  </div>

  <section class="trigger-trust">
    <div class="row">
      <ul class="trigger-trust_list">
        <li>
          <img src="/assets/img/figure/fig3.png" alt="figure">
          <strong class="h3">Purpose</strong>
          <div class="text">
            <p>Sustainable development of the Rusatom Service as a universal company that provide services at all stages of NPP lifetime cycle</p>
          </div>
        </li>
        <li>
          <img src="/assets/img/figure/fig4.png" alt="figure">
          <strong class="h3">Mission</strong>
          <div class="text">
            <p>Reliable, high-quality and efficient service offers in nuclear power engineering industry</p>
          </div>
        </li>
      </ul>
    </div>
  </section>

  <div class="text-wrap row">
    <div class="col-12 col-md-8">
      <h2 class="h2">ROLE IN ROSATOM STATE CORPORATION</h2>
      <p class="m-b-lg">JSC «Rusatom Service» is a wholly owned subsidiary of the Rosatom State Corporation and is a member of the electric power division. The Rusatom Service key stakeholders are listed below:</p>
      <ol>
        <li><strong>The Rosenergoatom Concern acts as nuclear operator of all nuclear power plants in Russian Federation. Totally, 10 Russian nuclear power plants have 34 power units in commercial operation of 26.24 GW total rated capacity.</strong></li>
        <li><strong>The JSC Design Bureau GIDROPRESS acts as Chief Designer of VVER reactors.</strong></li>
        <li><strong>The JSC Atomenergomash is the engineering division of the Rosatom State Corporation.</strong></li>
      </ol>
      <p>The company operates as an industry integrator of service offers at the NPP operation phase and provides services for maintenance, repair and upgrading the Russian-design nuclear power plants abroad.</p>
    </div>
  </div>

  <div class="company-history" style="background-image:url(/assets/img/header/rusatom_servis1.jpg);">
    <div class="text-wrap">
      <h2 class="h2">HISTORY OF THE RUSATOM SERVICE</h2>
      <div class="text">
        <p>
          Rusatom Service Joint-Stock Company was established in 2011 by a management decision of the Rosatom State Corporation to provide centralised services for foreign NPPs by Russian nuclear industry and to coordinate the efforts of Russian contractors involved in international activities of the Rosatom State Corporation.
        </p>
        <p>The JSC Rusatom Service is capable to offer an unique comprehensive solution for modernization and lifetime extension of foreign VVER nuclear power plants , according to the client's needs and specific features of the particular power unit. It is also possible to arrange packaged supply of imported equipment and spare parts, including warranty and post warranty service maintenance. The Rusatom Service offers a full service package on initial, continues, advanced and on-job training for the foreign NPP’s staff provided by leading Rosatom associated E&T suppliers.</p>
      </div>
    </div>
  </div>

  <section class="trigger-trust">
    <div class="row">
      <ul class="trigger-trust_list">
        <li>
          <img src="/assets/img/figure/fig5.png" alt="figure">
          <strong class="h3">
            TOTAL PORTFOLIO IS</strong>
          <div class="text">
            <p>$ 1 BILLION</p>
          </div>
        </li>
        <li>
          <img src="/assets/img/figure/fig6.png" alt="figure">
          <strong class="h3">SERVICES</strong>
          <div class="text">
            <p>23 OUT OF 39 OPERATING VVER POWER UNITS OUTSIDE THE RUSSIAN FEDERATION.</p>
          </div>
        </li>
        <li>
          <img src="/assets/img/figure/fig7.png" alt="figure">
          <strong class="h3">DOMINANT PROVIDER</strong>
          <div class="text">
            <p>OF SERVICES IN IRAN, BULGARIA, ARMENIA AND CHINA</p>
          </div>
        </li>
        <li>
          <img src="/assets/img/figure/fig8.png" alt="figure">
          <strong class="h3">FRAME CONTRACTS AWARDED</strong>
          <div class="text">
            <p>IN HUNGARY, FINLAND AND CHINA</p>
          </div>
        </li>
      </ul>
    </div>
  </section>
  <div class="text-wrap row">
    <div class="col-12 col-md-8">
      <p>The personnel working in Rusatom Service is its primary virtue. Our employees are highly qualified professionals, many of them have practical experience working at nuclear power plants both in Russia and abroad. Unique combination of experience, professionalism, youth and proactive approach makes contribution to the development of the company and its operating expansion.</p>
    </div>
  </div>
  <div class="key-list">
    <h2 class="h2">COMPANY FUNCTIONS:</h2>
    <ul>
      <li>
        <img src="/assets/img/figure/fig9.png" alt="fig">
        BUILD UP THE INTEGRATED COOPERATION SYSTEM WITH THE CUSTOMER
      </li>
      <li>
        <img src="/assets/img/figure/fig10.png" alt="fig">
        SET UP CONDITIONS PROMOTING SALE OF THE COMPANY PRODUCTS AND SERVICES TO THE FOREIGN CUSTOMER
      </li>
      <li>
        <img src="/assets/img/figure/fig11.png" alt="fig">
        PROVIDE PACKAGE OF SERVICES IN THE INTERNATIONAL MARKET:
        <ul>
          <li>USE A SUCCESSFUL EXPERIENCE TO ATTEND IN INTERNATIONAL BIDDING PROCEDURES;</li>
          <li>SERVICES FOR LEGAL ARRANGEMENTS OF INTERNATIONAL TRANSACTIONS;</li>
          <li>LOGISTICS SERVICES;</li>
          <li>SUPPORT IN PREPARING FOR CERTIFICATION.</li>
        </ul>
      </li>
      <li>
        <img src="/assets/img/figure/fig12.png" alt="fig">
        MANAGING AN INTEGRATED PROJECT WITH A LARGE POOL OF SUBCONTRACTORS;
      </li>
      <li>
        <img src="/assets/img/figure/fig13.png" alt="fig">
        CUSTOMER FEEDBACK;
      </li>
         </ul>
  </div>
</div>