<div class="title-banner" style="background-image: url(/assets/img/header/kadroviy_reserv.jpg);">
  <h1 class="h1">Кадровый резерв</h1>
</div>
<div class="global-page_content container">
  <div class="text-wrap">
    <h2 class="h2">Приглашаем вас присоединиться к проектным командам, которые будут работать над обслуживанием зарубежных АЭС</h2>
    <p>Участие в проектах АО «Русатом Сервис» и АО "Атомтехэкспорт" предполагает работу как в России, так и на площадках Инозаказчиков в Иране, Армении,  Китае, Индии, Белоруссии, Египте, Бангладеш, Венгрии, Финляндии и т.д.</p>
  </div>
  <div class="text-wrap">
    <h2 class="h2">Основные направления работ</h2>
    <ol>
      <li>Техническая поддержка и консультирование эксплуатационного и ремонтного персонала АЭС</li>
      <li>Организация и проведение ремонтов АЭС.</li>
      <li>Создание эксплуатационной и ремонтной документации.</li>
      <li>Обучение эксплуатационного и ремонтного персонала (тренеры и разработчики учебно‐методических материалов).</li>
      <li>Организация поставок оборудования и ЗИП.</li>
    </ol>
  </div>
  <div class="text-wrap">
    <h2 class="h2">Приглашаем вас присоединиться к проектным командам, которые будут работать над обслуживанием зарубежных АЭС</h2>
    <ol>
      <li>Получать информацию о планирующихся сервисных проектах.</li>
      <li>Участвовать в подборе персонала на проекты (по мере возникновения потребности).</li>
      <li>Получать информацию о требованиях к претендентам на работу в проектных командах.</li>
      <li>Получать рекомендации о тренингах и курсах по повышению квалификации.</li>
    </ol>
  </div>
  <span class="btn btn-join">Присоединиться</span>
</div>
