<div class="title-banner" style="background-image: url(/assets/img/header/postfvschikam.jpg);">
  <h1 class="h1">{{ 'PUBLIC.ABOUT.SUPPLIERS.TITLE' | translate }}</h1>
  <!--<div class="text" *appIfLocale="'ru'">-->
    <!--<p>Это - Инжиниринговая компания, комплексно решающая вопросы эксплуатационного сопровождения предконтрактных работ,-->
      <!--сооружения, ввода в эксплуатацию и эксплуатации энергоблоков зарубежных АЭС.</p>-->
  <!--</div>-->
  <!--<div class="text" *appIfLocale="'en'">-->
    <!--<p>Is an engineering company dealing holistically with the matters of operational maintenance of precontractual-->
      <!--works, construction, commissioning and operation of foreign NPP power units.</p>-->
  <!--</div>-->
</div>
<div class="global-page_content container">
  <div class="text-wrap row" *appIfLocale="'ru'">
    <div class="col-12 col-md-9">
      <p>С 01.01.2013 закупки за счет собственных и внебюджетных средств АО "Русатом Сервис" осуществляются в соответствии с федеральном законом от 18.07.2011 № 223-ФЗ «О закупках товаров, работ, услуг отдельными видами юридических лиц». В соответствии с 223-ФЗ  Положением о закупке является Единый отраслевой стандарт закупок (Положение о закупке) Госкорпорации "Росатом", утвержденный приказом от 31.05.2012 №4/ОД и размещенный на официальном сайте о размещении заказов на закупки товаров, работ и услуг для нужд Госкорпорации «Росатом», расположенном в сети интернет по адресу www.zakupki.rosatom.ru . Официальным сайтом АО "Русатом Сервис" для размещения информации в рамках исполнения федерального закона 223-ФЗ является сайт о размещении заказов на закупки товаров, работ и услуг для нужд Госкорпорации «Росатом», расположенный в сети Интернет по адресу www.zakupki.rosatom.ru. </p>
    </div>
  </div>
  <ul class="files-download five-grid_list row">
    <li class="col-3 col-md-3 item">
      <a href="#">
        <img src="/assets/img/pdf.png" alt="pdf">
        <span class="name-file">Опросный лист потенциального контрагента АО "Русатом Сервис"</span>
        <span class="size-file">8.29 МБ</span>
      </a>
    </li>
  </ul>
  <div class="utility-list">
    <h2 class="h2">Полезная информация</h2>
    <ul>
      <li><a href="http://zakupki.rosatom.ru/Web.aspx?node=news">Новости</a></li>
      <li><a href="http://zakupki.rosatom.ru/Web.aspx?node=currentorders&amp;ostate=P">Закупки</a></li>
      <li><a href="http://zakupki.rosatom.ru/Web.aspx?node=af23">Документы</a></li>
      <li><a href="http://zakupki.rosatom.ru/Web.aspx?node=gpz">Годовая программа закупок атомной отрасли</a></li>
      <li><a href="http://zakupki.rosatom.ru/Web.aspx?node=af50">Обучение</a></li>
      <li><a href="http://zakupki.rosatom.ru/Web.aspx?node=af33">Контроль и арбитраж</a></li>
      <li><a href="http://www.rosatom.ru/provider/TrainingProgram/">Обучающая программа «Как стать поставщиком атомной отрасли?»</a></li>
      <li><a href="http://www.rosatom.ru/provider/quiz/">Анкета поставщиков атомной отрасли</a></li>
      <li><a href="http://zakupki.rosatom.ru/Web.aspx?node=oprosy">Опросы и обсуждения</a></li>
      <li><a href="http://zakupki.rosatom.ru/Web.aspx?node=atomkomplekt">ОАО «Атомкомплект»</a></li>
      <li><a href="http://zakupki.rosatom.ru/Web.aspx?node=eltorgi">Электронные закупки</a></li>
    </ul>
  </div>
</div>