$transtion: all 0.45s cubic-bezier(0.1, 0.36, 0.54, 1.02); 

.play{
	width:50px;
	border-radius: 50%;
	height:50px;
	transition: $transtion;
	position: absolute;
	cursor: pointer;
	left:0;
	right:0;
	margin:auto;
	top: 0;
	bottom: 0;
	background: #0781cf;
	&:hover{
		background: #cacaca;
	}
	&:after{
		content: '';
		position: absolute;
		border-left: 14px solid #fff;
		border-top: 12px solid transparent;
		border-bottom: 12px solid transparent;
		width: 0;
		height: 0;
		margin: auto;
		top: 0;
		bottom: 0;
		margin: auto;
		left: 0;
		right:-4px;
	}
}