<div class="title-banner" style="background-image: url(/assets/img/header/partner.jpg);">
    <h1 class="h1">{{ 'PUBLIC.ABOUT.PARTNERS.TITLE' | translate }}</h1>
    <div class="text" *appIfLocale="'ru'">
      <p>Это - Инжиниринговая компания, комплексно решающая вопросы эксплуатационного сопровождения предконтрактных работ, сооружения, ввода в эксплуатацию и эксплуатации энергоблоков зарубежных АЭС.</p>
    </div>
    <div class="text" *appIfLocale="'en'">

    </div>
  </div>
  <div class="global-page_content container">
    <ul class="partners-list five-grid_list row">
      <li class="col-3 col-md-3 item">
        <a href="http://www.areva.com/" target="blank">
          <img alt="areva.jpg" [src]="'/upload/medialibrary/1a6/1a6e590c4c153259a3c92926d1908123.jpg' | addDefaultHost " title="Areva GmbH">
        </a>
      </li>
      <li class="col-3 col-md-3 item">
        <a href="http://www.atech.ru/" target="blank">
          <img alt="areva.jpg" [src]="'/upload/medialibrary/30a/30aee4fb5e8053fcd1c16b9d33480df9.jpg' | addDefaultHost " title="Areva GmbH">
        </a>
      </li>
      <li class="col-3 col-md-3 item">
        <a href="http://www.vniiem.ru/ru/" target="blank">
          <img alt="areva.jpg" [src]="'/upload/medialibrary/ac8/ac8eb25047466f56642734a690437cf2.jpg' | addDefaultHost " title="Areva GmbH">
        </a>
      </li>
      <li class="col-3 col-md-3 item">
        <a href="http://www.nikimtatomstroy.ru/" target="blank">
          <img alt="areva.jpg" [src]="'/upload/medialibrary/262/2622a4ce9c284b4ae2cef92184569796.jpg' | addDefaultHost " title="Areva GmbH">
        </a>
      </li>
      <li class="col-3 col-md-3 item">
        <a href="http://www.tenzor.net/" target="blank">
          <img alt="areva.jpg" [src]="'/upload/medialibrary/07f/07f9ad0a1360ae7497348051de8693ea.jpg' | addDefaultHost " title="Areva GmbH">
        </a>
      </li>
      <li class="col-3 col-md-3 item">
        <a href="http://www.gidropress.podolsk.ru/" target="blank">
          <img alt="areva.jpg" [src]="'/upload/medialibrary/1ad/1adfaf2d46e5f40eb0fc7fadbde14ed0.jpg' | addDefaultHost " title="Areva GmbH">
        </a>
      </li>
      <li class="col-3 col-md-3 item">
        <a href="http://www.ckbm.ru/" target="blank">
          <img alt="areva.jpg" [src]="'/upload/medialibrary/7a3/7a3c661e5aae00f4142e8191e4b36707.jpg' | addDefaultHost " title="Areva GmbH">
        </a>
      </li>
      <li class="col-3 col-md-3 item">
        <a href="http://www.diakont.ru/" target="blank">
          <img alt="areva.jpg" [src]="'/upload/medialibrary/2fd/2fd3418f98aae2a3b6cf7aa18da72b09.jpg' | addDefaultHost " title="Areva GmbH">
        </a>
      </li>
      <li class="col-3 col-md-3 item">
        <a href="http://www.diaprom.com/" target="blank">
          <img alt="areva.jpg" [src]="'/upload/medialibrary/cf4/cf4c0b1563d33f9103f018b07f41a2fe.jpg' | addDefaultHost " title="Areva GmbH">
        </a>
      </li>
      <li class="col-3 col-md-3 item">
        <a href="http://www.systematom.ru/" target="blank">
          <img alt="areva.jpg" [src]="'/upload/medialibrary/e3f/e3f0560e87f009d6db92468a59babdc8.jpg' | addDefaultHost " title="Areva GmbH">
        </a>
      </li>
      <li class="col-3 col-md-3 item">
        <a href="http://www.nrcki.ru/" target="blank">
          <img alt="areva.jpg" [src]="'/upload/medialibrary/dec/decca728729ebf293fae988c1426a122.jpg' | addDefaultHost " title="Areva GmbH">
        </a>
      </li>
      <li class="col-3 col-md-3 item">
        <a href="http://rosatom-cipk.ru/" target="blank">
          <img alt="areva.jpg" [src]="'/upload/medialibrary/165/16508f769e127ac2d2055a405ced1553.jpg' | addDefaultHost " title="Areva GmbH">
        </a>
      </li>
      <li class="col-3 col-md-3 item">
        <a href="http://www.power-m.ru/" target="blank">
          <img alt="areva.jpg" [src]="'/upload/medialibrary/5bc/5bc4f48e6494554cb2dd44b183b00c83.jpg' | addDefaultHost " title="Areva GmbH">
        </a>
      </li>
      <li class="col-3 col-md-3 item">
        <a href="http://www.okbm.nnov.ru/" target="blank">
          <img alt="areva.jpg" [src]="'/upload/medialibrary/318/318a33e57cba2a69d1471d2c5a3b660b.jpg' | addDefaultHost " title="Areva GmbH">
        </a>
      </li>
      <li class="col-3 col-md-3 item">
        <a href="http://www.echoplus.ru/main.html" target="blank">
          <img alt="areva.jpg" [src]="'/upload/medialibrary/74c/74cbce40e66b474c520b8d9eccbe1c36.jpg' | addDefaultHost " title="Areva GmbH">
        </a>
      </li>
      <li class="col-3 col-md-3 item">
        <a href="http://runeft.ru/enterprise/energetika/tsmir_ooo_nsuts_.html" target="blank">
          <img alt="areva.jpg" [src]="'/upload/medialibrary/511/511b1e95490681f09a103c6aa29f46f5.jpg' | addDefaultHost " title="Areva GmbH">
        </a>
      </li>
      <li class="col-3 col-md-3 item">
        <a href="http://www.sniip.ru/produktsiya-i-uslugi/sistemy-kontrolya-upravleniya-i-diagnostiki-dlya-ae-s/" target="blank">
          <img alt="areva.jpg" [src]="'/upload/medialibrary/428/42829c26e82719c5dcc0a95597fe1b5e.jpg' | addDefaultHost " title="Areva GmbH">
        </a>
      </li>
      <li class="col-3 col-md-3 item">
        <a href="http://www.vniiaes.ru/AboutYears.aspx" target="blank">
          <img alt="areva.jpg" [src]="'/upload/medialibrary/0c0/0c0b8b4c54089c6afc1fe10e0eb0ce49.jpg' | addDefaultHost " title="Areva GmbH">
        </a>
      </li>
    </ul>
  </div>