@import 'mixins';
@import 'netlab/settings';

@function rem($multiplier) {
  $font-size: 10px;
  @return $multiplier * $font-size;
}

%antialiased {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

%truncated {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@mixin page--shared() {

}
