@import 'shared';

$green: #00af5c;
$orange: #F55B23;
$red: #FF3A3A;
$white: #fff;
$black: #202020;
$light-gray: #e6e6e6;
$medium-gray: #bdbdbd;
$dark-gray: #8a8a8a;
$almost-black: #303030;
$body-background: #f3f3f3;

$global-font-size: 16px;
$font-preferred: 'Open Sans', 'Helvetica Neue', Helvetica, Roboto, sans-serif;